services:
  user_microservice:
    image: user-service:latest
    container_name: user-service
    environment:
      DB_IP: db-user
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: userDB
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - proxy-network
      - user-db-network
    depends_on:
      - db-user

  db-user:
    image: postgres
    container_name: db-user
    environment:
      POSTGRES_DB: userDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - user-db-network
    ports:
      - "5432:5432"

  device_microservice:
    image: device-service:latest
    container_name: device-service
    environment:
      DB_IP: db-device
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: deviceDB
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - proxy-network
      - device-db-network
    depends_on:
      - db-device

  db-device:
    image: postgres
    container_name: db-device
    environment:
      POSTGRES_DB: deviceDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - device-db-network
    ports:
      - "5433:5432"

  auth_microservice:
    image: auth-service:latest
    container_name: auth-service
    environment:
      DB_IP: db-auth
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: authDB
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - proxy-network
      - auth-db-network
    depends_on:
      - db-auth

  db-auth:
    image: postgres
    container_name: db-auth
    environment:
      POSTGRES_DB: authDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - auth-db-network
    ports:
      - "5434:5432"

  frontend:
    build: ./frontend
    container_name: frontend
    networks:
      - proxy-network
    depends_on:
      - traefik

  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "8080:8080" # Dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./dynamic:/etc/traefik/dynamic:ro"
      - "./logs:/var/log/traefik"
    networks:
      - proxy-network

networks:
  proxy-network:
    driver: bridge
    name: proxy-network
  user-db-network:
    driver: bridge
  device-db-network:
    driver: bridge
  auth-db-network:
    driver: bridge