services:
  user-microservice:
    image: user-service:latest
    container_name: user-service
    environment:
      DB_IP: db-user
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: userDB
    networks:
      - proxy-network
      - user-db-network
    depends_on:
      - db-user
      - rabbitmq

  db-user:
    image: postgres
    container_name: db-user
    environment:
      POSTGRES_DB: userDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - user-db-network
    ports:
      - "5433:5432"

  device-microservice:
    image: device-service:latest
    container_name: device-service
    environment:
      DB_IP: db-device
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: deviceDB
    networks:
      - proxy-network
      - device-db-network
    depends_on:
      - db-device
      - rabbitmq

  db-device:
    image: postgres
    container_name: db-device
    environment:
      POSTGRES_DB: deviceDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - device-db-network
    ports:
      - "5434:5432"

  auth-microservice:
    image: auth-service:latest
    container_name: auth-service
    environment:
      DB_IP: db-auth
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: authDB
      JWT_SECRET: ${JWT_SECRET}
    networks:
      - proxy-network
      - auth-db-network
    depends_on:
      - db-auth
      - rabbitmq

  db-auth:
    image: postgres
    container_name: db-auth
    environment:
      POSTGRES_DB: authDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - auth-db-network
    ports:
      - "5435:5432"

  monitoring-microservice:
    image: monitoring-service:latest
    container_name: monitoring-service
    environment:
      DB_IP: db-monitoring
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: monitorDB
    networks:
      - proxy-network
      - monitoring-db-network
    depends_on:
      - db-monitoring
      - rabbitmq

  db-monitoring:
    image: postgres
    container_name: db-monitoring
    environment:
      POSTGRES_DB: monitorDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - monitoring-db-network
    ports:
      - "5436:5432"

  websocket-chat-microservice:
    image: websocket-chat-service:latest
    container_name: websocket-chat-service
    environment:
      DB_IP: db-chat
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: admin
      DB_DBNAME: chatDB
    networks:
      - proxy-network
      - chat-db-network
    depends_on:
      - db-chat
      - rabbitmq

  db-chat:
    image: postgres
    container_name: db-chat
    environment:
      POSTGRES_DB: chatDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
    networks:
      - chat-db-network
    ports:
      - "5437:5432"

  frontend:
    build: ./frontend
    container_name: frontend
    networks:
      - proxy-network
    depends_on:
      - traefik

  traefik:
    image: traefik:v3.0
    container_name: traefik
    restart: always
    ports:
      - "80:80"
      - "8080:8080" # Dashboard
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik.yml:/etc/traefik/traefik.yml:ro"
      - "./dynamic:/etc/traefik/dynamic:ro"
      - "./logs:/var/log/traefik"
    networks:
      - proxy-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - proxy-network
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  proxy-network:
    driver: bridge
    name: proxy-network
  user-db-network:
    driver: bridge
  device-db-network:
    driver: bridge
  auth-db-network:
    driver: bridge
  monitoring-db-network:
    driver: bridge
  chat-db-network:
    driver: bridge