.client-add {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.client-update {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.client-delete {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.input {
  width: 15rem;
  height: 3rem;
  padding: 2rem;
}

.button {
  width: 10rem;
  height: 3rem;
}

.client-table {
  width: 70rem;
}