.device-add {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.device-update {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.device-delete {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.device-get {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.device-assign {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1.5rem;
}

.input {
  width: 15rem;
  height: 3rem;
  padding: 2rem;
}

.button {
  width: 10rem;
  height: 3rem;
}

.device-table {
  width: 70rem;
}
